// Global styles.
// ---------------------------------------

html {
  border: 3px solid #7B746A;
  padding: 3px;
  margin: 3px;
}

body {
  border: 2px solid #DCDCDC;
}

a {
  color: #6F6C63;
  font-weight: bold;
  &:hover {
    color: darken( #6F6C63, 25%);
  }
}

// CTAs
.cta {
  display: inline-block;
  background: white;
  padding: 15px 25px;
  border-radius: 3px;
  &:hover {
    background: darken( white, 25% );
  }
}


// Backgrounds
.bkgd-texture-light {
  background: #EFEAE8;
  background-image: url('/assets/bkgd/texture-light.jpg');
  background-position: center center;
  background-repeat: repeat;
}

.bkgd-texture-dark {
  background: #AAA498;
  background-image: url('/assets/bkgd/texture-dark.jpg');
  background-position: center center;
  background-repeat: repeat;
}