<section class="wrapper decor" id="portfolio">
  <div class="container">
  
    <div class="row">
      <div class="col_12">

      	<header>
      		<h1>{{ title }}</h1>
      	</header>

      </div>
    </div>

    <div class="portfolio-layout">

      <div class="sidebar-layout__sidebar">

        <div class="button-group-wrap">
          <div class="button-group filter-button-group">
            <button class="button is-checked" data-filter=".all">View All</button>
            {{ taxonomy:listing from="tags" sort="tags" }}
            <button class="button" data-filter=".{{ title | lower }}">{{ title | title }}</button>
            {{ /taxonomy:listing }}
          </div>
        </div>

      </div>

      <div class="sidebar-layout__main">
        
        <div class="grid">

          {{ collection:portfolio }}
          <div class="element-item {{ tags }}{{ title }}{{ /tags }} all">
            <a href="{{ url }}" style="background-image: url('{{ portfolio_thumbnail }}');"><p>{{ title }}</p></a>
          </div>
          {{ /collection:portfolio }}
          
        </div>

      </div>

    </div>

  </div>
</section>

<script src="/site/themes/tb/js/portfolio.js" type="text/javascript"></script>