<section class="wrapper decor" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col_12">
        <header>
          <h1>Portfolio</h1>
        </header>
      </div>
    </div>
    <div class="portfolio-layout">
      <div class="sidebar-layout__sidebar">
        <div class="button-group-wrap">
          <div class="button-group filter-button-group">
            <button class="button" onclick="location.href='/portfolio#filter=.all';">View All</button>
            {{ taxonomy:listing from="tags" sort="tags" }}
            <button class="button" data-filter=".{{ title | lower }}">{{ title | title }}</button>
            {{ /taxonomy:listing }}
          </div>
        </div>
      </div>
      <div class="sidebar-layout__main">
        <div class="portfolio-content-wrap">

          <div id="portfolio-slide" class="siema">

            {{ portfolio_image_slider }}
            <div class="portfolio__contents">
              <img src="/{{ value }}">
            </div>
            {{ /portfolio_image_slider }}

          </div>

          <!--
          <button class="prev"><i class="fas fa-arrow-left"></i></button>
          <button class="next"><i class="fas fa-arrow-right"></i></button>
          -->

        </div>
        <div class="portfolio-description">
          <h2>{{ title }}</h2>
          {{ summary }}
        </div>
        <div class="portfolio-details">
          <p>
          {{ project_details }}
          {{ if location }}<b>Location:</b> {{ location }}<br>{{ else }}{{ /if }}
          {{ if owner }}<b>Owner:</b> {{ owner }}<br>{{ else }}{{ /if }}
          {{ if architect }}<b>Architect:</b> {{ architect }}<br>{{ else }}{{ /if }}
          {{ if schedule }}<b>Schedule:</b> {{ schedule }}<br>{{ else }}{{ /if }}
          {{ if size }}<b>Size:</b> {{ size }}<br>{{ else }}{{ /if }}
          {{ if description }}<b>Description:</b> {{ description }}{{ else }}{{ /if }}
          {{ /project_details }}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="/site/themes/tb/js/siema.min.js"></script>
<script src="/site/themes/tb/js/portfolio-detail.js"></script>