<section class="wrapper container" id="portfolio">

  <div class="row">
    <div class="col_12">

      <header>
        <h1>Portfolio</h1>
      </header>

    </div>
  </div>

  <div class="portfolio-layout">

    <div class="sidebar-layout__sidebar">

      <div class="button-group-wrap">
        <div class="button-group filter-button-group">
          <button class="button" onclick="location.href='/portfolio#filter=.all';">View All</button>
          <button class="button" onclick="location.href='/portfolio#filter=.educational';">Educational</button>
          <button class="button" onclick="location.href='/portfolio#filter=.commercial';">Commercial</button>
          <button class="button" onclick="location.href='/portfolio#filter=.government';">Government</button>
          <button class="button" onclick="location.href='/portfolio#filter=.historic';">Historic</button>
          <button class="button" onclick="location.href='/portfolio#filter=.healthcare';">Healthcare</button>
          <button class="button" onclick="location.href='/portfolio#filter=.institutional';">Institutional</button>
          <button class="button" onclick="location.href='/portfolio#filter=.residential';">Residential</button>
          <button class="button" onclick="location.href='/portfolio#filter=.other';">Other Projects</button>
        </div>
      </div>

    </div>

    <div class="sidebar-layout__main">

            <img src="https://via.placeholder.com/913x400">

            <div class="portfolio-description">
              <h2>{{ title }}</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur deserunt totam, sint nulla provident, saepe vel voluptatibus animi magni! Quos expedita temporibus quas tenetur provident ea adipisci aliquid iusto quia.</p>
            </div>

            <div class="portfolio-details">
              <p><b>Location:</b> Lorem ipsum dolor sit amet.<br>
              <b>Owner:</b> Lorem ipsum dolor sit amet.<br>
              <b>Architect:</b> Lorem ipsum dolor sit amet.<br>
              <b>Schedule:</b> Lorem ipsum dolor sit amet.<br>
              <b>Size:</b> Lorem ipsum dolor sit amet.<br>
              <b>Description:</b> Lorem ipsum dolor sit amet.</p>
            </div>


    </div>

</div>

</section>