<header data-parallax="scroll" data-image-src="/assets/img/home-potomac.jpg" style="
  width: 100%;
  height: 300px;">
</header>

<section class="wrapper container">
  
  <div class="row">
    <div class="col_12">

      <header>
          <h1>Contact</h1>
      </header>

      <article class="content">

          {{ content }}

          {{ form:create in="contact" }}

              {{ if errors }}
                  <div class="alert alert-danger">
                      {{ errors }}
                          {{ value }}<br>
                      {{ /errors }}
                  </div>
              {{ /if }}

              {{ if success }}
                  <div class="alert alert-success">
                      Form was submitted successfully.
                  </div>
              {{ /if }}

              <div class="form-group">
                  <label>Name:</label>
                  <input type="text" name="name" value="{{ old:name }}" class="form-control" />
              </div>

              <div class="form-group">
                  <label>Company:</label>
                  <input type="text" name="company" value="{{ old:company }}" class="form-control" />
              </div>

              <div class="form-group">
                  <label>Email:</label>
                  <input type="text" name="email" value="{{ old:email }}" class="form-control" />
              </div>

              <div class="form-group">
                  <label>Phone:</label>
                  <input type="tel" name="phone" value="{{ old:phone }}" class="form-control" />
              </div>

              <div class="form-group">
                  <label>Comments:</label>
                  <textarea name="comment" class="form-control">{{ old:comment }}</textarea>
              </div>

              <button class="btn btn-primary">Submit</button>

          {{ /form:create }}

      </article>

    </div>
  </div>

</section>