<header style="
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-image: url('/assets/img/home-potomac.jpg');
  background-attachment: scroll;
  background-size: cover;
  background-position: center center;">
</header>

<section class="wrapper decor">
  <div class="container">

    <div class="row">
      <div class="col_12">
        <h2>Testimonials</h2>

        {{ collection:testimonials }}
        <div class="">
          {{ content }}
          <h5>-{{ name }}<br>
          {{ position }}</h5>
        </div>
        {{ /collection:testimonials }}

      </div>
    </div>
    
    <!-- <div class="centered">{{ content }}</div> -->

  </div>
</section>