footer {
  border-top: 2px solid #DCDCDC;
  .footer-top {
    color: $base-font-color;
    padding: 3em 0;
    font-variant: small-caps;
    font-family: $heading-font-family;
    .footer-sections {
      p {
        margin: 15px 0 0;
        font-size: .85em;
        &.body-text {
          font-family: $base-font-family;
          font-variant: normal;
          font-size: .75em;
        }
      }
      .logo {
        max-width: 200px;
      }
      ul {
        line-height: 1.75em;
        list-style-type: none;
        padding: 0;
        margin: 15px 0 0 0;
        font-size: 16px;
      }
    }
  }
  .footer-bottom {
    p {
      font-size: .75em;
      margin: 15px 0;
      text-align: center;
    }
  }
}